<a href="https://colab.research.google.com/github/Danyxyz/ADS_Projektarbeit/blob/main/AFEProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=8280fe057a996fd6ee2c71f8cc2165a39b296f9f6c6a13cc6327962e7e0f7330
  Stored in directory: /root/.cache/pip/wheels/42/56/cc/4a8bf86613aafd5b7f1b310477667c1fca5c51c3ae4124a003
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [ ]:
from pandas.core.dtypes.inference import Number
from pandas.core.common import random_state
from pandas import DataFrame
import pandas as pd

In [ ]:
#read in the data, only use relevant coloumns
data = pd.read_csv("Gebäudeverzeichnis_edited.csv",on_bad_lines="warn", engine="python", delimiter=',',usecols=['GGDENR','GGDENAME','EGID','BauzonenSchweiz_ZonesabatirSuisse_2017 — ch_are_bauzonen.shp_CH_BEZ_D','GKODE','GKODN'])

#Formatting, putting in a DataFrame
df_gebaude = pd.DataFrame(data)
df_gebaude = df_gebaude.rename(columns={'BauzonenSchweiz_ZonesabatirSuisse_2017 — ch_are_bauzonen.shp_CH_BEZ_D': 'Bauzone'})
df_gebaude.head(5)
df_gebaude.describe()
df_gebaude.count()

#Merge GWR-Data and communities to one main list
#df_gebaude = df_gebaude.merge(df_gemeindeData, left_on="GGDENR", right_on="GemeindeNr")
#df_gebaude = df_gebaude.drop(["EGID","GGDENR","GGDENAME"], axis=1)
#df_gebaude.head(5)

Skipping line 753887: unexpected end of data

EGID        753885
GGDENR      753885
GGDENAME    753885
GKODE       753783
GKODN       753783
Bauzone     736316
dtype: int64

In [ ]:
#Read and format local communities
gemeindeData =  pd.read_csv("main_gemeinde_data.csv", engine="python", delimiter=';')
df_gemeindeData = pd.DataFrame(gemeindeData)
df_gemeindeData.head(5)

Gemeinde_Nr      2172
Gemeinde_Name    2172
Bev_Hoch         2173
Besch_Hoch       2173
K1_Hoch          2172
K2_Mittel        2172
K3_Tief          2172
Unnamed: 7          0
Unnamed: 8          0
K1                  1
K2                  1
K3                  1
dtype: int64

In [1]:
from sklearn.cluster import KMeans
import numpy as np
from numpy import savetxt
# Create a seperate list only x- and y-axis for kmeans algorithm and put into pandas Dataframe

df_test = df_gebaude[df_gebaude["GGDENR"] == 1]

df_test = pd.DataFrame(df_test)
df_augst = df_test.drop(["EGID","GGDENR","GGDENAME","Bauzone"], axis=1)

np_array = df_augst.to_numpy()

#was ist unser Regelwerk - wie definieren wir k?
#59

# Wohnzone und eingeschränkte bauzonen, weitere bauzonen, verkehrzonen innerhlab der Bauzonen 20%
# Mittlere, Arbeits und Mischzonen 40%
# Hohe Dichte: Tourismus und Freizeitzonen, Zenturmszonen und Zonen für öffentliche Nutzung: 40%

#Test with in range(1,5)


#Loops through the GWR-Dataset
#Filter GWR-Dataset to communitites
#
for i in range len(GemeineAnzahl):
  #df_subset = Hauptliste filtern nach BFS-No 1
  #k = get k from another list

  #Stores filtered communitites to the according zone - Low / Middle / High to perform the right weighting - K in kmeans
  for i in range len(df_subset):
    low_zone = []
    middle_zone = []
    high_zone = []
  # if df_subset at index 0 == "Wohnzone" || "eingeschränkte Bauzonen" || "weitere Bauzonen" || "Verkehrszonen innerhalb der Bauzone":
      #append GKODE and GKodeN to low_zone
  # else if: df_subset at index 0 == "Mittlere Zone" || "Arbeitszone" || "Mischzone":
      ##append GKODE and GKodeN to middle_zone
    #else append GKODE AND CODE ist 3
  #out of first loop------------------------------------------------------------------------------------------Out of second loop
  
  #--------------------------------------------------------------------------Perform Kmeansn
  #--------------------------------------------------------------------------Run kmeans on first list 
  ##convert low_zone to dataframe
  #df_low_zone = pd.DataFrame(low_Zone)
  #create numpy array 
  #np_array = df_low.to_numpy()
  # k = k*0.2
  # kmeans = KMeans(n_clusters=k, random_state=0).fit(np_array)
  #Set the labels
  labels = kmeans.labels_
  centroids = kmeans.cluster_centers_

  #Store centroids of x and y individually
  centroids_x = centroids[:,0]
  centroids_y = centroids[:,1]

  coordinates_charging_stations = []
  for i in range(len(centroids_x)):
    number = np.round(centroids[i],2)
    coordinates_charging_stations.append(number)

  #Append to list instead of save as or writetxt
  #savetxt('Koordianten_Ladestationen.csv', coordinate_charging_stations, delimiter=',',fmt='%f')

  #----------------------------------------------------------------------------------------------------------Run kmeans on seconnd secomd 
  ##convert middle_zone to dataframe
  #df_middle_zone = pd.DataFrame(middle_Zone)
  #create numpy array 
  #np_array = df_middle_zone.to_numpy()
  # k = k*0.4
  # kmeans = KMeans(n_clusters=k, random_state=0).fit(np_array)
  #Set the labels
  labels = kmeans.labels_
  centroids = kmeans.cluster_centers_

  #Store centroids of x and y individually
  centroids_x = centroids[:,0]
  centroids_y = centroids[:,1]

  coordinates_charging_stations = []
  for i in range(len(centroids_x)):
    number = np.round(centroids[i],2)
    coordinates_charging_stations.append(number)

  #Append to list instead of save as or writetxt

  #-------------------------------------------------------------------------------Run kmeans on third list 
  ##convert high_zone to dataframe
  #df_high_zone = pd.DataFrame(high_Zone)
  #create numpy array 
  #np_array = df_high_zone.to_numpy()
  # k = k*0.4
  # kmeans = KMeans(n_clusters=k, random_state=0).fit(np_array)
  #Set the labels
  labels = kmeans.labels_
  centroids = kmeans.cluster_centers_

  #Store centroids of x and y individually
  centroids_x = centroids[:,0]
  centroids_y = centroids[:,1]

  coordinates_charging_stations = []
  for i in range(len(centroids_x)):
    number = np.round(centroids[i],2)
    coordinates_charging_stations.append(number)

  #Append to list instead of save as or writetxt
  #End of first loop
  #Test with first 5 entries and check

  #Exptected Result: List with 350'000 entries: GKODE and GKODEN in format to use for Qgis

SyntaxError: ignored

In [ ]:
#Berechnung von K
wohnzonen = df_test[df_test["Bauzone"]=="eingeschränkte Bauzone"].count()
df_test

,EGID,GGDENR,GGDENAME,GKODE,GKODN,Bauzone
0,11513432,1,Aeugst am Albis,2679647.268,1237500.347,eingeschränkte Bauzonen
1,11513433,1,Aeugst am Albis,2680635.900,1236936.229,eingeschränkte Bauzonen
2,11517090,1,Aeugst am Albis,2679016.828,1235828.156,eingeschränkte Bauzonen
3,1600000,1,Aeugst am Albis,2679677.869,1237453.256,eingeschränkte Bauzonen
4,1600001,1,Aeugst am Albis,2679692.997,1237491.284,eingeschränkte Bauzonen
...,...,...,...,...,...,...
977,3133155,1,Aeugst am Albis,2678915.860,1236119.257,eingeschränkte Bauzonen
978,3133156,1,Aeugst am Albis,2679364.987,1237487.702,eingeschränkte Bauzonen
979,3133157,1,Aeugst am Albis,2678534.759,1235244.699,eingeschränkte Bauzonen
980,3133158,1,Aeugst am Albis,2678991.034,1236015.372,eingeschränkte Bauzonen
981,9083165,1,Aeugst am Albis,2680559.103,1236868.358,eingeschränkte Bauzonen

In [ ]:
from numpy import savetxt

savetxt('Ladestationen_Augst.csv', new_list, delimiter=',',fmt='%f')

In [ ]:
Bauzonen_gesamt = df_gebaude["Bauzone"].value_counts()
Bauzonen_gesamt

eingeschränkte Bauzonen            385079
weitere Bauzonen                   202850
Zonen für öffentliche Nutzungen     75599
Tourismus- und Freizeitzonen        71237
Mischzonen                           1240
Zentrumszonen                         311
Name: Bauzone, dtype: int64